.tag{
    color: #EEE;
    backdrop-filter: blur(2px);
    background: rgba(57,62,70,.5);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 5px;
}
@media only screen and (max-width:768px) {
    .tag{
        font-size: 15px;
        padding: 8px 18px;
    }
}
@media only screen and (max-width:600px) {
    .tag{
        font-size: 14px;
        padding: 6px 16px;
    }
}
@media only screen and (max-width:500px) {
    .tag{
        font-size: 13px;
        padding: 4px 14px;
    }
}