.home-content{
    width: 100%;
    height: 100%;
    background: #222831;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(238, 238, 238, 0.10);
}